<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1" name="viewport">
<title>{{STORY_NAME}}</title>
{{CSS}}
</head>
<body>
<tw-story><noscript><tw-noscript>JavaScript needs to be enabled to play {{STORY_NAME}}.</tw-noscript></noscript></tw-story>
<tw-passagedata pid="17" name="17" tags="" position="253,491" size="100,100">
     (text-colour:lime)[''//COMMAND'']

      Single cockpit scarred by gunfire

      
          [[Move to East-&gt;7]]

    </tw-passagedata>,<tw-passagedata pid="16" name="16" tags="" position="920,158" size="100,100">
     (text-colour:lime)[''//CARGO HOLD'']

      Contains Botanists / Horticulturists

      
          [[Move to West-&gt;13]]

    </tw-passagedata>,<tw-passagedata pid="15" name="15" tags="" position="587,-9" size="100,100">
     (text-colour:lime)[''//BARRACKS'']

      One survivor unconscious

      
          [[Move to South-&gt;6]]

          [[Move to East-&gt;14]]

    </tw-passagedata>,<tw-passagedata pid="14" name="14" tags="" position="753,-9" size="100,100">
     (text-colour:lime)[''//CRYO CHAMBER'']

      Filled with corpses. Fear Save or 1 stress

      
          [[Move to South-&gt;13]]

          [[Move to West-&gt;15]]

    </tw-passagedata>,<tw-passagedata pid="13" name="13" tags="" position="753,158" size="100,100">
     (text-colour:lime)[''//THRUSTERS'']

      Intact and salveageable

      
          [[Move to West-&gt;6]]

          [[Move to North-&gt;14]]

          [[Move to East-&gt;16]]

    </tw-passagedata>,<tw-passagedata pid="12" name="12" tags="" position="253,658" size="100,100">
     (text-colour:lime)[''//SCIENCE LAB'']

      Strange creature in containment

      
          [[Move to East-&gt;10]]

    </tw-passagedata>,<tw-passagedata pid="11" name="11" tags="" position="753,324" size="100,100">
     (text-colour:lime)[''//CARGO HOLD'']

      Contains Garden Gnomes (Full of Illegal Stimulants)

      
          [[Move to West-&gt;3]]

    </tw-passagedata>,<tw-passagedata pid="10" name="10" tags="" position="420,658" size="100,100">
     (text-colour:lime)[''//CARGO HOLD'']

      Contains Opium

      
          [[Move to North-&gt;7]]

          [[Move to West-&gt;12]]

    </tw-passagedata>,<tw-passagedata pid="9" name="9" tags="" position="253,158" size="100,100">
     (text-colour:lime)[''//CRYO CHAMBER'']

      Filled with corpses. Fear Save or 1 stress

      
          [[Move to East-&gt;5]]

    </tw-passagedata>,<tw-passagedata pid="8" name="8" tags="" position="420,-9" size="100,100">
     (text-colour:lime)[''//MEDBAY'']

      Completely picked over.

      
          [[Move to South-&gt;5]]

    </tw-passagedata>,<tw-passagedata pid="7" name="7" tags="" position="420,491" size="100,100">
     (text-colour:lime)[''//LIVING QUARTERS'']

      Stowaway squatting here

      
          [[Move to North-&gt;2]]

          [[Move to South-&gt;10]]

          [[Move to West-&gt;17]]

    </tw-passagedata>,<tw-passagedata pid="6" name="6" tags="" position="587,158" size="100,100">
     (text-colour:lime)[''//BARRACKS'']

      Roll on Weapon Cache table on page 13

      
          [[Move to South-&gt;3]]

          [[Move to East-&gt;13]]

          [[Move to North-&gt;15]]

    </tw-passagedata>,<tw-passagedata pid="5" name="5" tags="" position="420,158" size="100,100">
     (text-colour:lime)[''//WEAPON'']

      Laser Cutter

      
          [[Move to South-&gt;2]]

          [[Move to North-&gt;8]]

          [[Move to West-&gt;9]]

    </tw-passagedata>,<tw-passagedata pid="4" name="4" tags="" position="587,491" size="100,100">
     (text-colour:lime)[''//COMPUTER'']

      Contains an intact map of a random sector

      
          [[Move to North-&gt;3]]

    </tw-passagedata>,<tw-passagedata pid="3" name="3" tags="" position="587,324" size="100,100">
     (text-colour:lime)[''//BARRACKS'']

      Roll on Weapon Cache table on page 13

      
          [[Move to West-&gt;2]]

          [[Move to South-&gt;4]]

          [[Move to North-&gt;6]]

          [[Move to East-&gt;11]]

    </tw-passagedata>,<tw-passagedata pid="2" name="2" tags="" position="420,324" size="100,100">
     (text-colour:lime)[''//COMMAND'']

      Single cockpit scarred by gunfire

      
          [[Move to West-&gt;1]]

          [[Move to East-&gt;3]]

          [[Move to North-&gt;5]]

          [[Move to South-&gt;7]]

    </tw-passagedata>,<tw-passagedata pid="1" name="1" tags="" position="253,324" size="100,100">
     (text-colour:lime)[''//LIFE SUPPORT'']

      Functional

      
          [[Move to East-&gt;2]]

    </tw-passagedata>,
{{HARLOWE}}
</body>
</html>